@use "./Styles/variables" as *;

@font-face {
  font-family: "Ematane";
  src: url("/fonts/EMATANE.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-family: "Inter", "Roboto", "Helvetica Neue", sans-serif;
}

h1 {
  color: $color-primary;
}

.add-book__input[type="number"] {
  // Chrome, Safari, Edge, Opera
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Firefox
  -moz-appearance: textfield;
  appearance: textfiled;
}
